#site-dashboard fieldset {
	padding: 1em;
	}
#site-dashboard ul.users,
#site-dashboard #message-box ul,
#site-dashboard #message-box-new ul {
	margin: 0px;
	padding: 0px;
	}
#site-dashboard ul.users li,
#site-dashboard #message-box ul li,
#site-dashboard #message-box-new ul li {
	list-style: none;
	clear: both;
	}
#site-dashboard ul.users li span.username {
	font-size: 1.1em;
	}
#site-dashboard ul.users li small {
	padding-left: 0.25em;
	}

#site-dashboard ul.users .user-buttons {
	float: right;
	margin-top: -1px;
	}

#site-dashboard button.accept span {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/accept.png);
	}
#site-dashboard button.ban span {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/lock.png);
	}
#site-dashboard button.decline span  {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/delete.png);
	}
#site-dashboard button.disable span  {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/delete.png);
	}
#site-dashboard button.kick span {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/door_out.png);
	}
