
.controller-room.action-edit .column-control {
	float: right;
	width: 32em;
	}
.controller-room.action-edit .column-main {
	margin-right: 34em;
	}

.room-status.status0,
.room-status.status1,
.room-status.status2,
.room-status.status3 {
	background-repeat: no-repeat;
	background-position: 0px;
	padding-left: 22px;
	}

.room-status.status0 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/door.png);
	}
.room-status.status1 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/door.png);
	}
.room-status.status2 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/door_open.png);
	}
.room-status.status3 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/door_open.png);
	}


.room-type.type0,
.room-type.type1,
.room-type.type2 {
	background-repeat: no-repeat;
	background-position: 0px;
	padding-left: 22px;
	}
.room-type.type0 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/control_fastforward_blue.png);
	}
.room-type.type1 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/control_play_blue.png);
	}
.room-type.type2 {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/control_pause_blue.png);
	}

