
.controller-message.action-index .column-control {
	float: right;
	width: 16.5em;
	}
.controller-message.action-index .column-main {
	margin-right: 18.5em;
	}


/*  --  LAYOUT  --  */
.controller-message.action-index tr.message td {
	border-bottom: 1px solid #DFDFDF;
	}

/*  --  MESSAGE TYPES  --  */
.controller-message.action-index .message.type-1 div.message,
.controller-message.action-index .message.type-4 div.message {
	font-style: italic;
	}
.controller-message.action-index .message.type-3 div.message,
.controller-message.action-index .message.type-4 div.message {
	font-weight: bold;
	}

/*  --  MESSAGE USERS  --  */
.controller-message.action-index .message div.sender,
.controller-message.action-index .message div.status {
	background-repeat: no-repeat;
	padding-left: 18px;
	}
.controller-message.action-index .message div.sender,
.controller-message.action-index .message.type-1 div.receiver,
.controller-message.action-index .message.type-2 div.receiver,
.controller-message.action-index .message.type-4 div.receiver {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user_green.png);
	background-repeat: no-repeat;
	padding-left: 18px;
	}
.controller-message.action-index .message.type-3 div.sender,
.controller-message.action-index .message.type-4 div.sender {
	background-image: url(//icons.ceusmedia.de/famfamfam/silk/user_gray.png);
	}

/*  --  MESSAGE STATUS  --  */
.message-status {
	background-repeat: no-repeat;
	padding-left: 18px;
	}
.message-status.status-2,
.message-status.status-1 {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/delete.png);
	}
.message-status.status0 {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/star.png);
	}
.message-status.status1,
.message-status.status2 {
	background-image: url(http://icons.ceusmedia.com/famfamfam/silk/accept.png);
	}
